:root {
  --link-button-color: #2196f3;
  --main-color: #212121;
  --second-color: #ffffff;
  --dis-link-color: #757575;
  --hero-footer-bgc: #2f303a;
  --butn-team-color: #f5f4fa;
  --logo-color: #000000;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--second-color);
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
  height: auto;
}

@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  color: var(--dis-link-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.hide:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__cont {
  margin-left: auto;
  display: block;
}
.page-header__icon {
  margin-right: 5px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .page-header__logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .page-header__cont {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    margin-left: 95px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__type:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .nav__list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo--blue {
  color: var(--link-button-color);
}
.logo--white {
  display: block;
  color: var(--second-color);
}
@media screen and (max-width: 767px) {
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .logo--smal {
    font-size: 24px;
    line-height: 1.16;
  }
}

.link {
  -webkit-transition: opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
.link:hover, .link:focus {
  opacity: 1;
  color: var(--link-button-color);
}

.page-header__link {
  color: var(--dis-link-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .page-header__link:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav__link--current {
    color: var(--link-button-color);
  }
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--link-button-color);
  border-radius: 2px;
}

.medias__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: var(--second-color);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
.medias__link:hover, .medias__link:focus {
  color: var(--butn-team-color);
  background-color: var(--link-button-color);
}

.accept__link {
  color: var(--link-button-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.hero {
  background-color: var(--hero-footer-bgc);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero--overlay {
  max-width: 1600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/op1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/op1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/op2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/op2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/ot1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/ot1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/ot2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/ot2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg/background2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg/background2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: var(--second-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* width: 696px; */
}
@media screen and (max-width: 1199px) {
  .hero__title {
    margin-left: 45px;
    margin-right: 45px;
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: 189px;
    margin-right: 189px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-left: 237px;
    margin-right: 237px;
    font-size: 44px;
    line-height: 1.4;
  }
}

.button {
  background-color: var(--butn-team-color);
  font-family: "Roboto", sans-serif;
  border-color: transparent;
  cursor: pointer;
  color: var(--main-color);
  border-radius: 4px;
}

.hero__btn {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--link-button-color);
  color: var(--second-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}
.hero__btn:hover, .hero__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter__btn {
  padding: 6px 22px;
  opacity: 1;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier), box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}
.filter__btn:hover, .filter__btn:focus {
  opacity: 1;
  background-color: var(--link-button-color);
  color: var(--second-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter__btn--active {
    opacity: 1;
    background-color: var(--link-button-color);
    color: var(--second-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.sub__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: var(--link-button-color);
  color: var(--second-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .sub__btn {
    margin-top: 20px;
  }
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 60%;
  background-color: transparent;
}

.modal__btn {
  -webkit-transition: bacground-color 250ms var(--cubic-bezier);
  transition: bacground-color 250ms var(--cubic-bezier);
  margin-top: 30px;
  padding: 10px 52px;
  background-color: var(--link-button-color);
  color: var(--second-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #188ce8;
}

.filter {
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .filter__type:not(:first-child) {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
    margin-left: -8px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .filter__type {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .filter__type:nth-child(3n) {
    margin-right: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .benefists {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .benefists__list {
    display: block;
    margin-top: -30px;
  }
}
@media screen and (min-width: 768px) {
  .benefists__list {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.benefists__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26.5px;
  width: 100%;
  height: 120px;
  background-color: var(--butn-team-color);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .benefists__type {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefists__type {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefists__type {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.benefists__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .benefists__title {
    text-align: center;
  }
}

.benefists__desc {
  width: 100%;
}

.projects {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.projects__type {
  margin: 15px;
  color: var(--main-color);
  background-color: var(--second-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: -webkit-box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier);
  transition: box-shadow 250ms var(--cubic-bezier), -webkit-box-shadow 250ms var(--cubic-bezier);
}
@media screen and (max-width: 767px) {
  .projects__type {
    width: calc((100% - 30px) / 1);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__type {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__type {
    width: calc((100% - 90px) / 3);
  }
}
.projects__type:hover, .projects__type:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box {
  position: relative;
  overflow: hidden;
}

.projects__type:hover .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.projects__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
}

.overlay__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.projects__notes {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects__title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1199px) {
  .section--hide {
    display: none;
  }
}

.occupation {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.occupation__pictures {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.occupation__box {
  position: relative;
}

.occupation__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.team {
  background-color: var(--butn-team-color);
}

.team__name {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__name {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team__name {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .team__name {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 0.9;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .team__list {
    display: block;
  }
}

.team__member {
  background-color: var(--second-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__member {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__member {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    width: calc((100% - 120px) / 4);
  }
}

.team__foto {
  margin-bottom: 30px;
}

.team__note {
  padding-bottom: 30px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.job {
  margin-bottom: 16px;
  color: var(--dis-link-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.medias {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.medias__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.medias__icon {
  fill: currentColor;
}

.clients {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
@media screen and (max-width: 1199px) {
  .clients {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    gap: 30px;
  }
}

.clients__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients__type {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__type {
    width: calc((100% - 120px) / 3);
    margin: 15px;
  }
}

.clients__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
@media screen and (max-width: 1199px) {
  .clients__company {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .clients__company {
    width: 170px;
  }
}
.clients__company:hover, .clients__company:focus {
  color: var(--link-button-color);
  border: 1px solid var(--link-button-color);
}

.company {
  fill: currentColor;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--hero-footer-bgc);
}

@media screen and (min-width: 768px) {
  .footer__container--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__main {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__main {
    margin-left: 62px;
  }
}

.address {
  font-style: normal;
}

.address__building {
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__list {
  margin-top: 28px;
  display: block;
}

.address__type:not(:first-child) {
  margin-top: 12px;
}

.address__cont {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-top: 5px;
    margin-right: 74px;
    margin-left: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

@media screen and (max-width: 1199px) {
  .join__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__type {
  margin-right: 10px;
}
.join__type:nth-child(4n) {
  margin-right: 0;
}

.join__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier);
}
.join__icon:hover, .join__icon:focus {
  background-color: var(--link-button-color);
}

.icon {
  fill: var(--second-color);
}

.sub {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .sub {
    width: 100%;
    display: inline-block;
  }
}
@media screen and (max-width: 1199px) {
  .sub {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sub {
    margin-right: 144px;
    margin-left: 144px;
  }
}
@media screen and (min-width: 1200px) {
  .sub {
    margin-bottom: 34px;
    margin-top: 12px;
  }
}

.sub__lb {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
@media screen and (max-width: 767px) {
  .sub__lb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .sub__lb {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sub__lb {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
}

@media screen and (max-width: 767px) {
  .summon {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .summon {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .summon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

.sub__in {
  padding: 15px 16px;
  height: 50px;
  background-color: var(--hero-footer-bgc);
  color: var(--second-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .sub__in {
    margin-right: 12px;
  }
}
@media screen and (max-width: 767px) {
  .sub__in {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sub__in {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub__in {
    width: 358px;
  }
}

.send {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: -webkit-transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier);
  transition: transform 250ms var(--cubic-bezier), -webkit-transform 250ms var(--cubic-bezier);
  padding: 40px;
  background-color: var(--second-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn:hover .modal__close-icon {
  fill: var(--link-button-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-place {
  margin-bottom: 20px;
}

.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--dis-link-color);
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  fill: var(--main-color);
}

.modal__input {
  -webkit-transition: border 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier);
  margin: 0;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__input:focus-visible {
  outline: none;
  border: 1px solid var(--link-button-color);
}

.modal__input:focus-visible ~ .modal__svg {
  fill: var(--link-button-color);
}

.modal__message {
  -webkit-transition: border 250ms var(--cubic-bezier);
  transition: border 250ms var(--cubic-bezier);
  resize: none;
  margin: 0;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  fill: var(--main-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal__message {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__message {
    width: 448px;
  }
}

.modal__message::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__message:focus-visible {
  outline: none;
  border: 1px solid var(--link-button-color);
}

.accept {
  margin-top: 20px;
  text-align: center;
}

.accept__label {
  position: relative;
}

.accept__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
}

.accept__icon {
  position: absolute;
  left: 0;
  top: 2px;
}

.accept__icon .uncheck {
  opacity: 1;
  -webkit-transition: opacity 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier);
}

.accept__checkbox:checked + .accept__icon .uncheck {
  opacity: 0;
}

.accept__icon .check {
  opacity: 0;
  -webkit-transition: opacity 250ms var(--cubic-bezier);
  transition: opacity 250ms var(--cubic-bezier);
}

.accept__checkbox:checked + .accept__icon .check {
  opacity: 1;
}

.accept__privacy {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--dis-link-color);
}
@media screen and (max-width: 1199px) {
  .accept__privacy {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .accept__privacy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.navigation {
  display: block;
  margin-bottom: auto;
}
.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation__link--active {
  color: var(--link-button-color);
}

.navigation__type:not(:last-child) {
  margin-bottom: 32px;
}

.contacts {
  display: block;
  margin-bottom: 64px;
}
.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--dis-link-color);
}
.contacts__link--blue {
  font-size: 34px;
  line-height: 1.17;
  color: var(--link-button-color);
}

.contacts__type:not(:last-child) {
  margin-bottom: 32px;
}

.media {
  margin-right: -10px;
}
.media__type {
  margin-right: 10px;
}
.media__type:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--link-button-color);
}/*# sourceMappingURL=main.css.map */