.accept {
  margin-top: 20px;
  text-align: center;
}

.accept__label {
  position: relative;
}

.accept__checkbox {
  appearance: none;

  width: 16px;
  height: 15px;
}

.accept__icon {
  position: absolute;
  left: 0;
  top: 2px;
}

.accept__icon .uncheck {
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.accept__checkbox:checked + .accept__icon .uncheck {
  opacity: 0;
}

.accept__icon .check {
  opacity: 0;
  transition: opacity 250ms var(--cubic-bezier);
}

.accept__checkbox:checked + .accept__icon .check {
  opacity: 1;
}

.accept__privacy {
  font-weight: 400;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
  letter-spacing: 0.03em;
  color: var(--dis-link-color);
}
