.hero {
  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
  }

  background-color: var(--hero-footer-bgc);
  text-align: center;
}

.hero--overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/bg/op1x.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/bg/op2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/bg/ot1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/bg/ot2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/bg/background.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/bg/background2x.jpg);
    }
  }
}

.hero__title {
  @media screen and (max-width: 1199px) {
    margin-left: 45px;
    margin-right: 45px;

    font-size: 26px;
    line-height: 1.61;
  }
  @media screen and (min-width: 768px) {
    margin-left: 189px;
    margin-right: 189px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 237px;
    margin-right: 237px;

    font-size: 44px;
    line-height: 1.4;
  }
  margin-bottom: 30px;

  color: var(--second-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* width: 696px; */
}
