.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
    margin-right: 74px;
    margin-left: auto;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.join__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.join__list {
  @media screen and (max-width: 1199px) {
    align-items: center;
    justify-content: center;
  }
}

.join__type {
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.join__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  color: var(--second-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--link-button-color);
  }
}

.icon {
  fill: var(--second-color);
}
