.team {
  background-color: var(--butn-team-color);
}

.team__name {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 0.9;
  }

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.team__member {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }

  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__foto {
  margin-bottom: 30px;
}

.team__note {
  padding-bottom: 30px;
}

.name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.job {
  margin-bottom: 16px;

  color: var(--dis-link-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
