:root {
  --link-button-color: #2196f3;
  --main-color: #212121;
  --second-color: #ffffff;
  --dis-link-color: #757575;
  --hero-footer-bgc: #2f303a;
  --butn-team-color: #f5f4fa;
  --logo-color: #000000;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
